.travis.yml
.editorconfig
.gitignore
.jscsrc
.travis.yml
.git*
.jshint*
.npmignore
.yo-rc.json
.npmrc
CONTRIBUTING.*
CHANGELOG.*
scripts.sh
npm-debug.log
.DS_Store
*.es6

.eslintrc
.eslintignore
test/
